.elements__card {
  width: 288px;
  /*object-fit: cover;*/
  margin: 0 auto 20px auto;
  /*display: flex;
  flex-flow: column;
  align-items: center;*/
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: auto auto;
  grid-template-areas:
  "elements__image elements__image"
  "elements__title elements__like";
  background: #FFFFFF;
  border-radius: 10px;
  padding: 0;
}
