.save-button {
  width: 238px;
  height: 46px;
  font-size: 14px;
  line-height: 1.25;
  margin: 46px auto 25px auto;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 1024px) {
  .save-button {
    width: 358px;
    height: 50.15px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 48px;
    margin-bottom: 36px;
  }
}

