.profile__title {
  max-width: calc(100% - 19px * 2);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .profile__title {
    max-width: 100%;
    align-self: flex-start;
  }

}
