.popup-box__item {
  width: 100%;
  border: none;
  margin: 0;
  padding-bottom: 9px;
  padding-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.25;
  color: #000000;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}
