.popup-box__close-button {
  width: 26px;
  height: 26px;
  transform: translate(22px, calc(-100% - 13.02px)) rotate(45deg);
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .popup-box__close-button {
    width: 40px;
    height: 40px;
    transform: translate(calc(100% + 36px), -100%) rotate(45deg);
  }

}
